.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 3rem;
    font-weight: 300;
    border-radius: 200rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    background-color: #cf6d17;
    border: 1px solid $color-primary;
  }

  &--full {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: white;
  }

  &--ghost {
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover,
    &:active {
      color: #fff;
    }
  }
}

input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3rem;
  font-weight: 300;
  border-radius: 200rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: white;

  &:hover,
  &:active {
    background-color: #cf6d17;
    border: 1px solid $color-primary;
  }
}
