*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

// html {
//   scroll-behavior: smooth;
// }
:root {
  font-size: 62.5%; // defines 1 rem = 10 pixels
  text-rendering: optimizeLegibility;
}

